# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
*.orig.*

# native
/ios
/android

# misc
.DS_Store
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# local env
.env
.env.local

# build/export output
/build
